@import '../../../styles/palette';

.navBar {
    width: 100vw;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    align-items: center;
    background-color: map-get($primary, 500);
    margin: 0 auto;
}

.brand {
    font-weight: bolder;
    font-size: 50px;
}

.menu {
    display: flex;
    list-style-type: none;
    padding-inline-start: 0;
    gap: 10px;
    font-weight: bolder;
    font-size: 22px;
    align-items: center;
}

.navLink {
    color: map-get($secondary, 500);
    text-decoration: none;
    position: relative;

}

.active, .navLink:hover {
    color: map-get($primary, contrast, 500);
    position: relative;
}

.active::after, .navLink:hover::after {
    content: "";
    position: absolute;
    display: block;
    width: 40%;
    height: 2px;
    background: map-get($primary, contrast, 500);
}