$primary: (
    100 : #b3babe,
    200 : #818c93,
    500 : #031926,
    700 : #02121c,
    contrast: (
        100 : #000000,
        200 : #000000,
        500 : #ffffff,
        700 : #ffffff,
    )
);

$secondary: (
    100 : #e4f8ea,
    200 : #d2f3dd,
    500 : #a5e6ba,
    700 : #93dfab,
    contrast: (
        500: #000000
    )
);

$surfaces: (
    100 : #fff6f1,
    200 : #fff1e8,
    500 : #ffe2d1,
    700 : #ffdac6,
    contrast: (
        500: #000000
    )
);


$warn: (
    100 : #eec5bb,
    200 : #e39f8e,
    500 : #c73e1d,
    700 : #ba3015,
    contrast: (
        100 : #000000,
        200 : #000000,
        500 : #ffffff,
        700 : #ffffff,
    )
);