@import '../../../styles/_palette';

.networkList {
    display: flex;
    flex-direction: column;
    list-style-type: none;
    padding-inline-start: 0;
    gap: 40px;
    padding-top: 20%;
    justify-content: center;
    align-items: center;
}

.network-card {
    height: max-content;
    padding: 30px 40px;
    border-radius: 10px;
    background-color: map-get($surfaces, 500);
    width: 60%;
    color: map-get($surfaces, contrast, 500);
}

.network-link {
    text-decoration: none;
}