<section id="about" class="{{!current.includes('about') && 'app-section'}} {{current.includes('about') && 'show-section'}}">
    <h2>About</h2>
    <section class="info-container">
        <img class="avatar" src='https://avataaars.io/?avatarStyle=Transparent&topType=ShortHairShortWaved&accessoriesType=Blank&hairColor=Black&facialHairType=BeardLight&facialHairColor=BrownDark&clotheType=Hoodie&clotheColor=Blue03&eyeType=Default&eyebrowType=FlatNatural&mouthType=Default&skinColor=Light'
        />
        <div >
            <p>
                I'm Cristian Benitez, I'm 21 years and I'm Uruguayan. I'm Back End Developer with knowledge in agile methodologies, GIT, data structure, 
                algorithms, frameworks, ORMs, databases, containers. I have been developing software with Typescript, C# .NET, Angular, among others.
            </p>
            <section class="softSkills-section">
                <ul class="softSkills-list">
                    <li>Good communication.</li>
                    <li>Good teamwork.</li>
                    <li>Problem solving.</li>
                    <li>Dedication.</li>
                    
                </ul>
                <ul class="softSkills-list">
                    <li>English B2.</li>
                </ul>
            </section>
        </div>
    </section>
</section>