@import "../../../styles/palette";

.info-container {
    display: flex;
    gap: 50px;
    padding-top: 30px;
}

.avatar {
    position: relative;
    height: auto;
    border-radius: 50%;
    background-color: map-get($surfaces, 500);
    overflow: hidden;
}

.softSkills-section {
    max-width: 400px;
}

.softSkills-list {
    display: flex;
    flex-direction: column;
    list-style-type: disc;
    flex-wrap: wrap;
    gap: 14px;
}