@import '../../../styles/palette';

.container {
    width: 80vw;
    min-height: 80vh;
    background-color: map-get($surfaces, 500);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px;
}

.title {
    color: map-get($surfaces, "contrast", 500);
    font-size: 28px;
    font-weight: bolder;
    padding-bottom: 20px;
}

.topSection {
    display: flex; 
    flex-direction: column;
    gap: 10px;
}

.information {
    display: flex;
    align-items: flex-start;
    gap: 10px;
    font-size: 18px;
    color: map-get($surfaces, "contrast", 500);

    p {
        margin: 0;
    }
}

.technologiesList {
    display: flex;
    list-style-type: none;
    gap: 4px;
    color: map-get($surfaces, "contrast", 500);

    span {
        font-weight: bolder;
    }
}

.actions {
    display: flex;
    justify-content: center;
    gap: 8px;
}

.closeButton {
    background-color: map-get($secondary, contrast, 500);
}

.video {
    width: 500px;
    height: auto;
}